body {
            background-color: #0E0E0E;
            margin: 0;
            padding: 0;
        }
        .widget {
            color: #ffffff;
            text-align: center;
            max-width: 95%;
            margin: auto;
            font-variant-caps: petite-caps;
            font-size: 1.5em;
            background-color: #0E0E0E;
            border-radius: 10px;
            box-shadow: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap
            border: 1px solid #0E0E0E;
        }

        .quote-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px
        }

        .quote {
            position: relative;
            font-style: bold;
            padding-left: 20px;
            padding-right: 20px
        }

        .quote:before {
            content: open-quote;
            position: absolute;
            top:-10px;
            left: -5px;
            font-size: 2em;
            color: #ffffff;
        }

        .quote:after {
            content: close-quote;
            position: absolute;
            bottom: -10px;
            right: -5px;
            font-size: 2em;
            color: #ffffff;
        }

        .author {
            font-size: 1.2em;
            margin-top: 10px;
        }

        .arrow-button {
            background-color: #000000;
            color: #ffffff;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            font-size: 2em;
            border-radius: 50%;
            margin: 10px;
        }
